<div class="conteudo">
  <div class="conteudo_titulo">
    <h1>Editar Nova Categoria</h1>
  </div>
  <hr/>
    <% if notice %>
        <div class="alert alert-success" role="alert">
            <%= notice %>
        </div>
    <% end %>  
  <div class="conteudo_infos mx-auto" style="width: 300px;">
    <%= form_for @categoria, url: categoria_path(@categoria), method: :patch do |form| %>
      <div class="mb-3">
        <%= form.label :nome %>
        <%= form.text_field :nome %>  
      </div>
      <div class="mt-3">
        <%= form.submit 'Salvar', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>     
