<div class="conteudo">
  <div class="conteudo_titulo">
    <h1>Cadastrar Novo Produto</h1>
  </div>
  <hr/>  
  <div class="conteudo_infos mx-auto" style="width: 300px;">
    <%= form_for @produto, url: produtos_create_path do |form| %>
      <div class="mb-3">
        <%= form.label :nome, class: "form-label" %>
        <%= form.text_field :nome, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :modelo %>
        <%= form.text_field :modelo %>
      </div>
      <div class="mb-3">
        <%= form.label :voltagem %>
        <%= form.select :voltagem, ['110v', '220v'] %>
      </div>
      <div class="mb-3">
        <%= form.label :categoria_id %>
        <%= form.collection_select :categoria_id, Categorias.all, :id, :nome %>
      </div>
      <div class="mb-3">
        <%= form.label :descricao %>
        <%= form.text_area :descricao %>
      </div>
      <div class="mb-3">
        <%= form.label :preco_compra %>
        <%= form.number_field :preco_compra %>
      </div>
      <div class="mb-3">
        <%= form.label :cod_interno %>
        <%= form.text_field :cod_interno %>
      </div>
      <div class="mt-3">
        <%= form.submit 'Salvar', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>  