<div class="conteudo">      
    <div class="conteudo_titulo">
        <h1>Categorias</h1>
    </div>
    <hr/>
    <br>
    <% if notice %>
        <div class="alert alert-success" role="alert">
            <%= notice %>
        </div>
    <% end %> 

    <div class="conteudo_infos mx-auto" style="width: 300px;">
        <%= form_with(model: @category, local: true) do |form| %>
            <% if @category.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@category.errors.count, "erro") %> ocorreu ao salvar a categoria:</h2>
                    <ul>
                    <% @category.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="mb-3">
                <%= form.label :nome, class: "form-label" %>
                <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="mt-3">
                <%= form.submit 'Salvar', class: "btn btn-primary" %>
                <%= link_to 'Voltar', categories_path, class: "btn btn-danger" %>
            </div>
        <% end %>
        
    </div>  
</div>